<div class="register-container">
    <h2>Register</h2>
    <form >
    
        <table>
           
            <tr>
                <td>UserName</td>
                <td>
                    <input type="text" name="Name" formControlName="Name" >
                </td>
            </tr>
           
            <tr>
                <td>Contact No</td>
                <td>
                    <input type="text" name="phone" formControlName="Phone" >
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password"  name="pass" formControlName="pass" >
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button type="submit" value="SAVE" >SAVE</button>
                    <br><br>
                    <a routerLink="/login">Login</a>
                </td>
            </tr>
        </table>
        </form>
    
    </div>
    